<tbody>
	{% for food in object_list %}
	<tr>
		<td>{{ food.food_name }}</td>
		<td>{{ food.description }}</td>
		<td><a href="/detail/{{food.id}}">Click to view</a></td>
	</tr>
	{% endfor %}
</tbody>

<!--Upper part is related to Back end and below code is html template -->
  
<link rel="stylesheet" type="text/css" href="Cart.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<main class="page">
    <section class="shopping-cart dark">
      <div class="container">
            <div class="block-heading">
              <h2>My Cart</h2>
                          </div>
            <div class="content">
          <div class="row">
            <div class="col-md-12 col-lg-8">
              <div class="items">
                <div class="product">
                  <div class="row">
                    <div class="col-md-3">
                      <img class="img-fluid mx-auto d-block image" src="http://via.placeholder.com/200x200">
                    </div>
                    <div class="col-md-8">
                      <div class="info">
                        <div class="row">
                          <div class="col-md-5 product-name">
                            <div class="product-name">
                              <a href="#">The first sample product</a>
                              <div class="product-info">
                                
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 quantity">
                            <label for="quantity">Quantity</label>
                            <input id="quantity" type="number" value ="1" class="form-control quantity-input" min="1">
                          </div>
                          <div class="col-md-3 price">
                            <span>Rs. 120</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <div class="row">
                    <div class="col-md-3">
                      
                      <img class="img-fluid mx-auto d-block image" src="http://via.placeholder.com/200x200">
                    </div>
                    <div class="col-md-8">
                      <div class="info">
                        <div class="row">
                          <div class="col-md-5 product-name">
                            <div class="product-name">
                              <a href="#">The 2nd Sample Product</a>
                              <div class="product-info">
                                
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 quantity">
                            <label for="quantity">Quantity</label>
                            <input id="quantity" type="number" value ="1" class="form-control quantity-input" min="1">
                          </div>
                          <div class="col-md-3 price">
                            <span>Rs.240</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <div class="row">
                    <div class="col-md-3">
                      <img class="img-fluid mx-auto d-block image" src="http://via.placeholder.com/200x200">
                    </div>
                    <div class="col-md-8">
                      <div class="info">
                        <div class="row">
                          <div class="col-md-5 product-name">
                            <div class="product-name">
                              <a href="#">The 3rd Sample Product</a>
                              <div class="product-info">
                                
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 quantity">
                            <label for="quantity">Qyantity</label>
                            <input id="quantity" type="number" value ="1" class="form-control quantity-input" min="1">
                          </div>
                          <div class="col-md-3 price">
                            <span>Rs. 120</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <div class="summary">
                <h3>Order summary<h3>
                
                <button type="button" class="btn btn-primary btn-lg btn-block">Check Out</button>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </section>
  </main>
