<link rel="stylesheet" type="text/css" href="test.css">
<button class="_JS_reset">Reset Menu</button>
<h1>Restaurant Menu Delete</h1>

<section class="menu_preview _JS_menuPreview"></section>

<form class="form">
	
	<div class="form_fieldBlock group">
		<input type="text" data-identifier="restaurantName">
		<label> restaurant name</label>
	</div>
	<div class="form_fieldBlock group">
		<input type="text" data-identifier="itemName">
		<label>item Name</label>
	</div>
		
	<button style="border-radius: 2em; float: right;" class="_JS_addSection">Delete item</button>

</form>

