<html>
<body>
	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>

	<!-- TODO: Add SDKs for Firebase products that you want to use
	     https://firebase.google.com/docs/web/setup#available-libraries -->
	<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-analytics.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-auth.js"></script>
	<script>
		function success(position) {
			const latitude = position.coords.latitude;
			const longitude = position.coords.longitude;
			console.log(latitude + " " + longitude);
			var firebaseConfig = {
				apiKey: "AIzaSyDfGQmsSdjAM77R7g4rkCa_d7FXsaPcl_I",
				authDomain: "test2-374dc.firebaseapp.com",
				databaseURL: "https://test2-374dc-default-rtdb.asia-southeast1.firebasedatabase.app",
				projectId: "test2-374dc",
				storageBucket: "test2-374dc.appspot.com",
				messagingSenderId: "900145299510",
				appId: "1:900145299510:web:baed02e2b01bd767225897"
			};
			if (!firebase.apps.length) {
				firebase.initializeApp(firebaseConfig);
			} else {
				firebase.app(); // if already initialized, use that one
			}
			var ref = firebase.database().ref('DeliveryExec/' + "{{user.id}}");
			ref.update({
				currlat: latitude
			});
			ref.update({
				currlong: longitude
			});
			var showCurrentData = firebase.database().ref('DeliveryExec');
			showCurrentData.on('value', (snapshot) => {
				const data = snapshot.val();
				console.log(data);
			});
		}

		function error() {
			alert('Sorry, no position available.');
		}

		const options = {
			enableHighAccuracy: true,
			maximumAge: 30000,
			timeout: 27000
		};

		const watchID = navigator.geolocation.watchPosition(success, error, options);
	</script>
</body>
</html>