<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
	nav {
		color: white;
		padding-top: 25px;
	}
</style>

<body>
	<nav class="navbar navbar-light bg-dark">
		<h1> Register </h1>
	</nav>
	<div class="container py-5">
		<form method="POST">
			{% csrf_token %}
			<div class="form-group">
				{{ form.as_p }}
			</div>
			<button class="btn btn-primary" type="submit">Register</button>
		</form>
	</div>
</body>