body {
	 margin: 3em;
}
h1 { text-align:center;
	
	
	}
 @media (max-width: 785px) {
	 body {
		 margin: 1em;
	}
}
 .group:after {
	 content: "";
	 display: table;
	 clear: both;
}
 html {
	 box-sizing: border-box;
}
 *, *:before, *:after {
	 box-sizing: inherit;
}
 .form_menuSection button {
	 order: 3;
}
 @media (min-width: 786px) {
	 .form_menuSection button {
		 position: relative;
		 top: 10px;
	}
}
 .form_menuSection input:not(:valid) ~ button {
	 pointer-events: none;
	 background-color: #c9c9c9;
	 border: none;
	 color: white;
}
 @media (max-width: 785px) {
	 .form_menuSection > .form_fieldBlock > label {
		 order: -1;
	}
	 .form_menuSection > .form_fieldBlock > input {
		 order: 0;
	}
}
 .saveMenu {
	 position: fixed;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 height: 30px;
	 text-align: center;
	 background-color: navy;
}
 .saveMenu button {
	 display: inline-block;
	 border: none;
	 width: 100%;
	 height: 100%;
	 background-color: transparent;
	 color: white;
	 font-weight: bold;
	 margin: 0;
}
 .menu_preview {
	 transition: 0.25s ease;
	 position: fixed;
	 right: 10px;
	 top: 10px;
	 left: 0;
	 bottom: 0;
	 background-color: white;
	 z-index: 4;
	 padding: 30px;
	 transform: scale(0.1);
	 transform-origin: right top;
	 border: solid 6px orange;
	 overflow: hidden;
}
 .menu_preview:empty {
	 display: none;
}
 .menu_preview:empty ~ .saveMenu {
	 display: none;
}
 .menu_preview:before {
	 position: absolute;
	 content: 'PREVIEW MENU';
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 background-color: rgba(0, 0, 0, 0.68);
	 color: white;
	 font-weight: bold;
	 text-align: center;
	 line-height: 93vh;
	 font-size: 100px;
	 z-index: 1;
}
 @media (max-width: 785px) {
	 .menu_preview:before {
		 font-size: 69px;
	}
}
 .menu_preview.showPreview {
	 transform: scale(1);
	 overflow-y: scroll;
}
 .menu_preview.showPreview:before {
	 content: none;
}
 .menu_preview.showPreview:after {
	 content: 'X';
	 font-size: 27px;
	 border: solid 1px purple;
	 padding: 4px 10px;
	 border-radius: 50%;
	 cursor: pointer;
	 position: absolute;
	 right: 6px;
	 top: 10px;
	 background-color: purple;
	 color: white;
}
 @media (max-width: 785px) {
	 .menu_preview {
		 transform: scaleY(0.1) scaleX(0.2);
	}
}
 button {
	 display: block;
	 margin-top: 10px;
}
 .form {
	 width: 30%;
	 text-align: right;
	 max-width: 1185px;
	 margin: 0 auto;
}
 input {
	 width: 60%;
	 padding: 5px 10px;
	 float: right;
}
 input:focus {
	 outline: none;
}
 input:focus + label {
	 background-color: orange;
}
 @media (max-width: 785px) {
	 input {
		 float: none;
		 width: 100%;
		 order: 2;
	}
}
 label {
	 float: left;
	 background-color: #0957a7;
	 color: white;
	 line-height: 2;
	 padding: 0 10px;
	 text-align: left;
	 width: 40%;
	 transition: 0.15s linear background-color;
}
 @media (max-width: 785px) {
	 label {
		 float: none;
		 width: 100%;
		 order: 1;
	}
}
 .form_fieldBlock {
	 margin-bottom: 25px;
	 position: relative;
}
 .form_fieldBlock .form_fieldBlock {
	 margin-top: 25px;
	 position: relative;
	 height: auto;
}
 @media (max-width: 785px) {
	 .form_fieldBlock {
		 display: flex;
		 flex-direction: column;
	}
}
 .form_menuItem {
	 max-width: 50%;
	 margin-left: 35px;
}
 .form_menuItem input {
	 max-width: 63%;
}
 .form_menuItem textarea {
	 width: 100%;
	 max-width: 60%;
	 height: 64px;
}
 .form_menuItem textarea:focus {
	 outline: none;
}
 .form_menuItem textarea:focus + label {
	 background-color: orange;
}
 @media (max-width: 785px) {
	 .form_menuItem textarea {
		 order: 2;
		 max-width: 100%;
	}
}
 @media (max-width: 785px) {
	 .form_menuItem {
		 max-width: 100%;
		 margin-left: 2px;
	}
	 .form_menuItem input {
		 max-width: 100%;
	}
}
 .form_checkBox label {
	 position: relative;
	 display: block;
	 margin: 0 auto;
	 margin-bottom: 50px;
	 text-align: left;
	 line-height: 3;
	 cursor: pointer;
	 max-width: 30%;
	 min-width: 25%;
	 float:left;
}
 .form_checkBox label:after {
	 content: '';
	 position: absolute;
	 right: 5px;
	 background-color: #fff;
	 padding: 19px;
	 top: 5px;
}
 @media (max-width: 785px) {
	 .form_checkBox label:after {
		 padding: 16px;
		 top: 2px;
		 right: 3px;
	}
}
 @media (max-width: 785px) {
	 .form_checkBox label {
		 min-width: 100%;
		 max-width: 100%;
		 font-size: 12px;
	}
}
 .form_checkBox input {
	 display: none;
}
 .form_checkBox input:checked + label {
	 background-color: pink;
	 color: gray;
}
 .form_checkBox input:checked + label:after {
	 content: 'x';
	 color: black;
	 text-align: center;
	 font-size: 30px;
	 line-height: 1;
	 padding: 4px 11px;
}
 @media (max-width: 785px) {
	 .form_checkBox input:checked + label:after {
		 padding: 1px 10px;
		 right: 2px;
	}
}
 .absContainer {
	 position: relative;
}
 .delete {
	 position: absolute;
	 top: -10px;
	 right: -35px;
	 border: solid 1px black;
	 border-radius: 50%;
	 padding: 3px 8px;
	 cursor: pointer;
}
 .delete:hover {
	 color: red;
	 border-color: red !important;
}
 @media (max-width: 785px) {
	 .delete {
		 top: 0;
		 right: 2px;
		 z-index: 1;
		 background-color: white;
	}
}
 .deleteUI {
	 border: dashed gray 2px;
	 padding-left: 7px;
	 padding-right: 7px;
	 margin-bottom: 10px;
}
 section.deleteUI {
	 padding-top: 15px;
}
 section.deleteUI .deleteUI {
	 margin-top: 10px;
	 clear: both;
}
 @media (min-width: 786px) {
	 section.deleteUI .deleteUI {
		 position: relative;
		 top: 11px;
	}
}
 .firstSection .form_menuItem:not(.firstItem) {
	 max-width: 100%;
}
 
